//変数:データにつけるラベル
//データ型（数値，文字列，真偽，色，リスト）
//条件分岐 @if @else
//== != < > <- >=

$debugMode: true;
$x: 10;

#main{
  @if $debugMode == true{
    color: red;
  }
  else{
    color: green;
  }
  p{
    @if $x > 20{
      color: yellow;
    }
  }
}