!!!
%html{:lang => "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    :css
      .myStyle{
        color: red;
      }
    :javascript
      alert(1);
      if(1){
        alert(2);
      }
    %div
      :escaped
        <html>
        </html>