!!!
%html{:lang => "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    %div{:id => "main", :class => "myClass"}
    %div(id="main" class="myClass")
    %div#main.myClass
    #main.myClass

    #main
      .sumMenu